{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/curso/ICF333">Curso</a></li>
    <li class="breadcrumb-item active" aria-current="page">Añadir tarea</li>
  </ol>
</nav>

<h2 class="mb-3">Añadir nueva tarea</h2>
<div class="row">
  <div class="col-md-6 col-sm-8 col-12">
    <form action="" method="POST">
      <table>
        {% csrf_token %}
        {{ form.as_table }}   
      </table>
    
      <br>
      <input type="reset" value="Limpiar" class="btn btn-success">
      <input type="submit" value="Guardar" class="btn btn-outline-secondary">
    
    </form>
  </div>
</div>

{% endblock %}