{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Calificaciones</li>
  </ol>
</nav>

<h4 class="mb-3">Lista de test</h4>
<div class="card">
  <table class="table mb-0">
    <thead>
      <tr>
        <th>Tarea</th>
        <th>Descripcion</th>
        <th>Exigencia</th>
        <th>Nota</th>
        <th>Archivo</th>
      </tr>
    </thead>
    <tbody>
      {% for p in tareas %}
        <tr>
          <td class="align-middle">{{ p.nombre }}</td>
          <td class="align-middle">{{ p.descripcion }}</td>
          <td class="align-middle">{{ p.exigencia }}%</td>
          <td class="align-middle">{{ p.nota }}</td>
          <td>
            <a href="{% url 'upload'  %}">Subir archivo</a>
          </td>
        </tr>
        {% empty %}        
        <tr>
          <td class="bg-light text-center font-italic" colspan="10">Aún no se a cargado ninguna tarea.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% if average == 0 %}
<p> </p>

{% else %}
<strong> Promedio = {{ average }}</strong>

{% endif %}


{% endblock content %}