{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
	<h1 class="display-4">{{ curso.sigla }}</h1>
	<p class="lead">{{ curso.nombre }}</p>
	<h4 style="width: 40rem;"> En este repositorio debera ir subiendo los avances de su Proyecto de Titulo.</h4>
	<br>
	<p> Estos seran revisados por su profesor guia, el cual le ira dejando comentarios con respecto a su avance.</p>
	<hr class="my-4">

	<a class="btn btn-secondary" href="{% url 'proyecto' %}">Revisar Proyecto</a>
	<hr class="my-4">

	<a class="btn btn-primary btn-lg" href="{% url 'upload' %}">Subir archivo</a>

	<!--<a class="btn btn-primary btn-lg" href="{% url 'rubrica' %}">Subir rubrica</a>-->

	<hr class="my-4">
	<strong> Documentos subidos a la plataforma</strong>
</br>
	<a href="{{ rubrica.file.url }}">Descargar</a>



<br>
<br>
	<p><a href="{% url 'cursos' %}">Volver</a></p>	
</div>
{% endblock %}
