{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <h2><li class="breadcrumb-item active" aria-current="page">Documentos</li></h2>
        </ol>
    </nav>

    <h4 class="mb-3">Lista de documentos</h4>
    <table >
        <thead>
            <tr>
                <th><strong>Nombre</strong></th>
                <th><strong>Comentario</strong></th>
                <th><strong>Opciones</strong></th>
            </tr>
        <thead>
        {% for post in file %}

        {% if post.documento %}
        <tr>
            <td>{{ post.titulo }}</td>
            <td>{{ post.comentario }}</td>
            <td>
                <a href="{{ post.documento.url }}" download="{{ post.documento.url }}">Descargar</a>
            </td>
        </tr>
        
        {% else %}
        <td></td>

        {% endif %}

        {% empty %}
        <tr>
          <td class="bg-light text-center font-italic" colspan="5">No se han subido archivos a la pagina por el momento.</td>
        </tr>

        {% endfor %}
    </table>

</div>

{% endblock content %}