{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Documentos</li>
    </ol>
</nav>
<h4 class="mb-3">Lista de documentos</h4>
<div class="card">
    <table class="table mb-0">
        <thead>
            <tr>
                <td><strong>Nombre</strong></td>
                <td><strong>Comentario</strong></td>
                <td><strong>Opciones</strong></td>
            </tr>
        </thead>
        <tbody>
            {% for post in file %}

            {% if post.documento %}
            <tr>
                <td>{{ post.titulo }}</td>
                <td>{{ post.comentario }}</td>
                <td>
                    <a href="{{ post.documento.url }}" download="{{ post.documento.url }}">Descargar</a>
                    <a href="{% url 'eliminar_documento' post.id %}">Eliminar</a>
                </td>
            </tr>
            
            {% else %}
            
            {% endif %}  

            {% empty %}
            <tr>
                <td class="bg-light text-center font-italic" colspan="5">Aun no se han subido archivos al sistema</td>
            </tr>   
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}