<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" href="#">Titulación</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="/cursos">Gestion de Curso<span class="sr-only">(current)</span></a>
            </li>  

            <li class="nav-item active">
                <a class="nav-link" href="/curso/ICF333">Curso</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Modificar Cuenta</a>
              </li>  
              
            <li class="nav-item">
                <a class="nav-link" href="{% url 'calificaciones' %}">Revisar Tareas(P)</a>
            </li>         
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'calificaciones_alumno' %}">Revisar Tareas(A)</a>
            </li>   
              
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Desconectarse</a>
            </li>
      </ul>

      <span class="navbar-text">
         Bienvenido, {{ user.username }}
      </span>

      {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Conectarse</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'signup' %}">Registrarse</a>
          </li>
          {% endif %}
    </div>
  </nav>