{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Proyecto</li>
    </ol>
  </nav>
<div class="card">
    <!--  
    <table>
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Opciones</th>
            </tr>
       
            <tr>
                <td>{{ nueva_desc.titulo }}</td>
                <td>{{ nueva_desc.descripcion }}</td>
                <td>
                    <a href="{% url 'descripcion' %}">Modificar</a>
                    <a href="{% url 'eliminar' %}">Eliminar</a>
                </td>
            </tr>
        <thead>
    </table>-->

    <h3> Titulo </h3>
    <p> {{ nueva_desc.titulo }}</p>
    
    <br>

    <h3> Descripcion </h3>
    <p> {{ nueva_desc.descripcion }} </p>

    <br>
    <br>

    <a href="{% url 'descripcion' %}" class="btn btn-success">Modificar</a>
   
</div>
{% endblock content %}