{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <table>
        <tr>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Opciones</th>
        </tr>
       
        <tr>
            <td>{{ nueva_desc.titulo }}</td>
            <td>{{ nueva_desc.descripcion }}</td>
            <td>
                <a href="{% url 'descripcion' %}">Modificar</a>
                <a href="{% url 'eliminar' %}">Eliminar</a>
            </td>
        </tr>
    </table>
</div>
{% endblock content %}